/*stylelint-disable*/
/*stylelint-disable*/
/*stylelint-disable*/
/*stylelint-disable*/
/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent; }

main, article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {
  max-width: 100%; }

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll; }

/* we use a lot of ULs that aren't bulleted.
	you'll have to restore the bullets within content,
	which is fine because they're probably customized anyway */
ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible; }

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:after {
  content: " ";
  display: block;
  clear: both; }

/*stylelint-disable*/
.menu-hamburger {
  display: none; }

.main-header {
  width: 90%;
  max-width: 1024px;
  position: relative;
  background-color: #39CE98;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .main-header:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 100%;
    right: 47.2%;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #39CE98;
    z-index: 1; }

.title {
  margin: 25px 0 25px 20px;
  text-transform: uppercase;
  text-decoration: none; }

.name-and-surname {
  font-size: 1.6rem;
  font-weight: 900;
  letter-spacing: 2px;
  color: #595959;
  text-shadow: 1px 0 white, 1.1px 0 black; }

.position {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
  text-shadow: 1px 0 #bababa, 1.1px 0 black; }

.main-nav {
  width: 44%; }

.menu-list {
  margin-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.nav-title a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
  text-shadow: 1px 0 #bababa, 1.1px 0 black; }

/*stylelint-disable*/
.menu-hamburger {
  margin-right: 10px;
  width: 54px;
  height: 51px;
  display: none; }

.menu-burger-line {
  width: 45px;
  height: 5px;
  background-color: #595959;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.menu-burger-line-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.menu-burger-small-line {
  width: 22.5px;
  height: 5px;
  background-color: #595959;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 1; }

.main-nav-mobile {
  display: block;
  width: 90%;
  max-width: 1024px;
  position: relative;
  background-color: transparent;
  z-index: 2; }
  .main-nav-mobile:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 100%;
    right: 42.5%;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #cccccc;
    z-index: 1; }

.menu-list-mobile {
  width: 100%;
  height: 120px;
  margin: 30px 0 5px 0;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1; }

#display-block {
  display: block; }

#display-none {
  display: none; }

/*stylelint-disable*/
.main-about {
  width: 90%;
  max-width: 1024px;
  position: relative;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 4px solid #39CE98; }
  .main-about:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 100%;
    right: 47.2%;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #39CE98;
    z-index: 1; }
  .main-about:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 98.5%;
    right: 47.2%;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid white;
    z-index: 2; }

.short-description {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.article-title {
  width: 120px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #333333;
  text-shadow: 1px 0 #bababa, 1.1px 0 black;
  border-bottom: 4px solid #FFD447; }

.description {
  text-align: center;
  margin-top: 10px;
  color: #595959;
  font-size: 1.3rem; }

.main-traits {
  width: 40%;
  margin-top: 60px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-betweeen;
      -ms-flex-pack: space-betweeen;
          justify-content: space-betweeen;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.trait {
  width: 85%;
  margin-bottom: 30px; }

.trait-title {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #333333;
  text-shadow: 1px 0 #bababa, 1.1px 0 black; }

.trait-description {
  color: #595959; }

/*stylelint-disable*/
.main-skills {
  width: 90%;
  max-width: 1024px;
  position: relative;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .main-skills:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 100%;
    right: 47.2%;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid white;
    z-index: 1; }

.section-title {
  margin-top: 50px;
  width: 120px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #333333;
  text-shadow: 1px 0 #bababa, 1.1px 0 black;
  border-bottom: 4px solid #FFD447; }

.skill-list {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .skill-list li {
    width: 60px;
    height: 60px;
    border: 1px solid red;
    background-color: #FFD447; }

.main-skill-text {
  text-align: center;
  width: 45%;
  margin-top: 30px;
  margin-bottom: 40px; }

.main-skill-text-paragraph {
  font-size: 1.3rem;
  color: #595959;
  margin-bottom: 25px; }

.skill-github-link {
  color: #333333;
  font-weight: 700;
  text-decoration: none; }

/*stylelint-disable*/
.main-projects {
  width: 90%;
  max-width: 1024px;
  position: relative;
  background-color: #FFD447; }
  .main-projects:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 100%;
    right: 47.2%;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #FFD447;
    z-index: 1; }

.project-wrapper {
  margin-top: 50px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.project {
  width: 27%;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 13px 21px -7px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 13px 21px -7px rgba(0, 0, 0, 0.3); }

.project-title {
  line-height: 43px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px 5px 0 0;
  background-color: #39CE98;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: white;
  text-shadow: 1px 0 #bababa, 1.1px 0 black; }

.project-peek {
  width: 100%;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top: 2px solid #bababa;
  border-bottom: 2px solid #bababa; }

.project-github-link {
  margin-left: 10px;
  text-decoration: none;
  font-size: 1.1rem;
  color: #595959; }
  .project-github-link span {
    font-weight: 900;
    color: #333333; }

.project-description {
  width: 90%;
  min-height: 130px;
  margin-top: 10px;
  margin-left: 10px;
  color: #595959;
  font-size: 1.1rem; }

/*stylelint-disable*/
.main-footer {
  width: 90%;
  max-width: 1024px;
  position: relative;
  background-color: #595959;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer-title {
  margin-top: 40px;
  font-size: 0.95rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #bababa;
  text-shadow: none; }

.contact-list {
  width: 35%;
  margin-top: 10px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.contact-logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: white; }

.gmail {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.mail-expander {
  display: none;
  border-radius: 25px;
  background-color: white; }

.mail-logo-doubler {
  position: relative;
  width: 45px;
  height: 45px; }

.mail {
  position: absolute;
  top: 8.5px;
  left: 47px;
  display: none;
  font-size: 18px;
  font-weight: 500;
  color: #333333; }

/*stylelint-disable*/
html {
  font-size: 16px; }

body {
  font-family: "Open Sans", sans-serif; }

.container {
  width: 100%;
  background-color: #cccccc;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; }

/*stylelint-disable*/
@media only screen and (min-width: 330px) and (max-width: 480px) {
  .main-header {
    width: 100%; }
    .main-header:after {
      right: 42.5%; } }

@media only screen and (min-width: 330px) and (max-width: 480px) {
  .title {
    margin: 10px 0 10px 10px; } }

@media only screen and (min-width: 330px) and (max-width: 480px) {
  .name-and-surname {
    font-size: 1.2rem; } }

@media only screen and (min-width: 330px) and (max-width: 480px) {
  .position {
    font-size: 1.05rem; } }

@media only screen and (min-width: 330px) and (max-width: 480px) {
  .main-nav {
    display: none; } }

@media only screen and (min-width: 330px) and (max-width: 480px) {
  .menu-hamburger {
    display: block; } }

/*stylelint-disable*/
@media only screen and (min-width: 330px) and (max-width: 480px) {
  .main-about {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-bottom: 10px solid #39CE98; }
    .main-about:before {
      top: 99%;
      right: 41.2%;
      border-right: 35px solid transparent;
      border-left: 35px solid transparent;
      border-top: 35px solid white; }
    .main-about:after {
      border-right: 35px solid transparent;
      border-left: 35px solid transparent;
      border-top: 35px solid #39CE98;
      right: 41%; } }

@media only screen and (min-width: 330px) and (max-width: 480px) {
  .short-description {
    width: 97%;
    margin-top: 35px;
    margin-bottom: 25px; } }

@media only screen and (min-width: 330px) and (max-width: 480px) {
  .article-title {
    font-weight: 600;
    font-size: 1.45rem; } }

@media only screen and (min-width: 330px) and (max-width: 480px) {
  .main-traits {
    width: 97%;
    margin-top: 0;
    margin-bottom: 5px; } }

@media only screen and (min-width: 330px) and (max-width: 480px) {
  .trait {
    width: 100%;
    text-align: center;
    font-size: 1.3rem; } }

@media only screen and (min-width: 330px) and (max-width: 480px) {
  .trait-title {
    font-weight: 600;
    font-size: 1.35rem; } }

/*stylelint-disable*/
@media only screen and (min-width: 330px) and (max-width: 480px) {
  .main-skills {
    width: 100%; } }

.main-skills:after {
  right: 42.5%; }

@media only screen and (min-width: 330px) and (max-width: 480px) {
  .section-title {
    margin-top: 35px;
    font-weight: 600;
    font-size: 1.45rem; } }

@media only screen and (min-width: 330px) and (max-width: 480px) {
  .skill-list li {
    width: 45px;
    height: 45px; } }

@media only screen and (min-width: 330px) and (max-width: 480px) {
  .main-skill-text {
    width: 97%;
    margin-top: 15px;
    margin-bottom: 0; } }

@media only screen and (min-width: 330px) and (max-width: 480px) {
  .main-skill-text-paragraph {
    font-size: 1.3rem;
    margin-bottom: 30px; } }

/*stylelint-disable*/
/*stylelint-disable*/
/*stylelint-disable*/
/*stylelint-disable*/
@media only screen and (min-width: 330px) and (max-width: 480px) {
  .main-nav-mobile {
    width: 100%; } }

@media only screen and (min-width: 330px) and (max-width: 480px) {
  .menu-hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

.nav-title {
  font-size: 1.05rem; }

/*# sourceMappingURL=app.css.map*/