/*stylelint-disable*/

// Mixins

// main-element

@mixin component-container ($background-color) {
  width: 100%;
  max-width: 1024px;
  position: relative;
  background-color: $background-color;
}

// bottom-arrow :after element

@mixin bottom-arrow($selector, $top, $right, $border, $index, $color) {
  &:#{$selector} {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: $top;
    right: $right;
    border-left: $border solid transparent;
    border-right: $border solid transparent;
    border-top: $border solid $color;
    z-index: $index;
  }
}

// header-title

@mixin header-titles ($font-size, $font-weight, $letter-spacing, $color) {
  font-size: $font-size;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  color: $color;
}

// section-title

@mixin section-title ($font-size, $text-color, $text-shadow, $border) {
  width: 200px;
  text-align: center;
  text-transform: uppercase;
  font-size: $font-size;
  color: $text-color;
  text-shadow: $text-shadow;
  border-bottom: $border;
}

// flex-box properties

@mixin flex-box ($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// media mixin - credit to http://thesassway.com/intermediate/responsive-web-design-part-2;

@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (min-width: 300px) and (max-width: 500px) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-width: 501px) and (max-width: 1024px) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width: 1025px) { @content; }
  }
}
