/*stylelint-disable*/

//parameters

// primary-colors
$color-primary: #39CE98;
$color-secondary: #FFD447;
$color-tertiary: #595959;
$color-container-background: #cccccc;
$color-component-background: white;

// font-colors
$color-font-title: #595959;
$color-font-subtitle: white;
$color-font-text: #595959;
$color-font-text-links: #333333;


// borders
$border-subtitles: 4px solid $color-secondary;
$border-projects-imgages: 2px solid #bababa;

//shadows

$font-shadow:
