/*stylelint-disable*/

//parameters

// Primary-colors
$color-primary: #39CE98;
$color-secondary: #FFD447;
$color-tertiary: #595959;
$color-container-background: #f2f2f2;
$color-component-background: white;

// Font-colors
$color-font-title: #595959;
$color-font-subtitle: white;
$color-font-text: #595959;
$color-font-text-links: #333333;

// Font-size
$font-size-title: 3rem;
$font-size-secondary-title: 2.8rem;
$font-size-section-title: 1.4rem;
$font-size-base-text: 1.3rem;
$font-size-sub-text: 1.1rem;
$font-size-footer-text: 0.95rem;

//$ Font-size-mobile

$font-size-title-mobile: 1.2rem;
$font-size-subtitle-mobile: 1.05rem;
$font-size-text-mobile: 1.3rem;
$font-size-section-title-mobile: 1.4rem;

// Spacing
$spacing-title: 2px;
$spacing-secondary-title: 1px;
$spacing-nav-elements: 1px;
$spacing-subtitle: 0.5px;

// Width mobile
$width-mobile: 97%;

// Border
$border-subtitles: 4px solid $color-secondary;
$border-projects-images: 2px solid #bababa;

// Shadows
$text-shadow-main-title: 1px 0 white, 1.1px 0 black;
$text-shadow: 1px 0 #bababa, 1.1px 0 black;
$box-shadow-resting: 0px 13px 21px -7px rgba(0, 0, 0, 0.3);
$box-shadow-hover: 0px 13px 21px 5px rgba(0, 0, 0, 0.3);

// Font-family
$Open-sans: 'Open Sans', sans-serif;
