/*stylelint-disable*/

.main-about {
  @include respond-to(mobile) {
    width: 100%;
    flex-direction: column;
    border-bottom: 10px solid $color-primary;
    &:before {
      top: 98.5%;
      right: 39%;
      border-right: 35px solid transparent;
      border-left: 35px solid transparent;
      border-top: 35px solid $color-component-background;
    }
    &:after {
      border-right: 35px solid transparent;
      border-left: 35px solid transparent;
      border-top: 35px solid $color-primary;
      top: 100%;
      right: 39%;
    }
  }
}

.short-description {
  @include respond-to(mobile) {
    width: $width-mobile;
    margin-top: 45px;
    margin-bottom: 25px;
  }
}

.article-title {
  @include respond-to(mobile) {
    width: 150px;
    font-weight: 600;
    font-size: $font-size-section-title-mobile + 0.1rem;
  }
}

.main-traits {
  @include respond-to(mobile) {
    width: $width-mobile;
    margin-top: 0;
    margin-bottom: 5px;
  }
}

.trait {
  @include respond-to(mobile) {
    width: 100%;
    text-align: center;
    font-size: $font-size-text-mobile;
    @include flex-box(column, center, center);
  }
}

.trait-title {
  @include respond-to(mobile) {
    width: 80%;
    font-weight: 600;
    font-size: $font-size-section-title-mobile;
  }
}
