/*stylelint-disable*/

      //  ----- animations for gmail logo ----- //

// id's for email

#expand {
  animation: expand 0.15s linear 1 forwards;
  @include respond-to(mobile)  {
    animation: none;
  };
  @include respond-to(tablet) {
    animation: none
  }
}

#shrink {
  animation: shrink 0.1s linear 1 forwards;
  @include respond-to(mobile) {
    animation: none;
  }
  @include respond-to(tablet) {
    animation: none;
  }
}

// animations for mail

@keyframes expand {
  0% {
    width: 50px;
    padding-right: 0;
  }
  98% {
    padding-right: 0;
  }
  99% {
    padding-right: 40px;
  }
  100% {
    padding-right: 40px;
    width: 350px;
  }
}

@keyframes shrink {
  0% {
    width: 350px;
  }
  100% {
    width: 50px;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0px 2px 21px -15px #fff9e6;
  }
  50% {
    box-shadow: 0px 2px 21px 6px #fff9e6;
  }
  100% {
    box-shadow: 0px 2px 21px -15px #fff9e6;
  }
}

      //  ----- animations for mobile nav ----- //

// id's for mobile nav

#elongate-mobile {
  @include respond-to(mobile) {
    animation: elongate-mobile 0.3s linear 1 forwards;
  }
}

#shorten-mobile {
  @include respond-to(mobile) {
    animation: shorten-mobile 0.3s linear 1 forwards;
  }
}

#bounce-mobile {
  @include respond-to(mobile) {
    animation: bounce-mobile 0.2s 0.35s linear 1 forwards;
  }
}

#bounce-back-mobile {
  @include respond-to(mobile) {
    animation: bounce-back-mobile 0.5s linear 1 forwards;
  }
}

// animations for mobile nav


@keyframes elongate-mobile {
  0% {
  }
  100% {
    height: 100%;
  }
}

@keyframes shorten-mobile {
  0% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}

@keyframes bounce-mobile {
  0% {
    transform: translate(600px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes bounce-back-mobile {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-1000px, 0);
  }
}

//  ----- animations for menu burger ----- //

// id's for menu burger

#rotate-left {
  @include respond-to(mobile) {
    animation: rotate-left 0.2s linear 1 forwards;
  }
}

#rotate-counter-left {
  @include respond-to(mobile) {
    animation: rotate-counter-left 0.2s linear 1 forwards;
  }
}

#rotate-right {
  @include respond-to(mobile) {
    animation: rotate-right 0.2s linear 1 forwards;
  }
}

#rotate-counter-right {
  @include respond-to(mobile) {
    animation: rotate-counter-right 0.2s linear 1 forwards;
  }
}

#rotate-downward-right {
  @include respond-to(mobile) {
    animation: rotate-downward-right 0.2s linear 1 forwards;
  }
}

#rotate-counter-downward-right {
  @include respond-to(mobile) {
    animation: rotate-counter-downward-right 0.2s linear 1 forwards;
  }
}

#rotate-downward-left {
  @include respond-to(mobile) {
    animation: rotate-downward-left 0.2s linear 1 forwards;
  }
}

#rotate-counter-downward-left {
  @include respond-to(mobile) {
    animation: rotate-counter-downward-left 0.2s linear 1 forwards;
  }
}

// animations for menu burger

@keyframes rotate-left {
  100% {
    width: 40px;
    transform: translate(7px, -3px) rotate(90deg);

  }
}

@keyframes rotate-counter-left {
  0% {
    width: 40px;
    transform: translate(7px, -3px) rotate(90deg);

  }
  100% {
    width: 45px;
    transform: translate(0 , 0) rotate(0deg);
  }
}

@keyframes rotate-right {
  100% {
    width: 40px;
    transform: translate(-6px, 2px) rotate(90deg);
  }
}

@keyframes rotate-counter-right {
  0% {
    width: 40px;
    transform: translate(-6px, 2px) rotate(90deg);
  }
  100% {
    width: 45px;
    transform: translate(0, 0) rotate(0deg);
  }
}

@keyframes rotate-downward-right {
  100% {
    width: 27px;
    transform: translate(2.5px, 0) rotate(45deg);
  }
}

@keyframes rotate-counter-downward-right {
  0% {
    transform: translate(0px, 0px) rotate(45deg);
  }
  100% {
    transform: translate(0, 0)rotate(0deg);
  }
}

@keyframes rotate-downward-left {
  100% {
    width: 27px;
    transform: translate(-1.5px, 0) rotate(-45deg);
  }
}

@keyframes rotate-counter-downward-left {
  0% {
    transform: translate(0px, 0px) rotate(-45deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

//  ----- animations for menu alert ----- //

// id's for alert

#move-in {
  animation: move-in 4.5s linear 1 none;
}


// animations for alert

@keyframes move-in {
  0% {
    right: 2000px;
  }
  10% {
    right: calc(50vw - (200px / 2));
  }
  80% {
    right: calc(50vw - (200px / 2));
  }
  100% {
    right: -2000px;
  }
}

@keyframes move-in-tablet {
  0% {
    right: 2000px;
  }
  10% {
    right: calc(50vw - (200px / 2));
  }
  80% {
    right: calc(50vw - (200px / 2));
  }
  100% {
    right: -2000px;
  }
}

