/*stylelint-disable*/

.container {
  @include respond-to(mobile) {
    background-image: url("");
  }
}

.content-wrapper {
  @include respond-to(mobile) {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: none;
  }
}

.content-wrapper {
  @include respond-to(tablet) {
    width: 100%;
    margin: 0;
  }
}
