/*stylelint-disable*/

.main-footer {
  @include respond-to(mobile) {
    width: 100%;
  }
}

.footer-title {
  @include respond-to(mobile) {
    font-size: 14px;
  }
}

.contact-list {
  @include respond-to(mobile) {
    width: 80%;
  }
}

.contact-logo {
  @include respond-to(mobile) {
    width: 40px;
    height: 40px;
  }
}
