/*stylelint-disable*/

.main-header {
  @include respond-to(mobile) {
    width: 100%;
    &:after {
      right: 42.5%;
    }
  }
}

.title {
  @include respond-to(mobile) {
    margin: 10px 0 10px 10px;
  }
}

.name-and-surname {
  @include respond-to(mobile) {
    font-size: $font-size-title-mobile;
  }
}

.position {
  @include respond-to(mobile) {
    font-size: $font-size-subtitle-mobile;
  }
}

.main-nav {
  @include respond-to(mobile) {
    display: none;
  }
}

.menu-list {
  @include respond-to(tablet) {
    flex-wrap: wrap;
  }
}

.menu-hamburger {
  @include respond-to(mobile) {
    display: block;
  }
}


