/*stylelint-disable*/

.main-nav-mobile {
  @include respond-to(mobile) {
    width: 100%;
  }
}

.nav-title {
  margin: 0;
}

.menu-burger {
  width: 54px;
  height: 51px;
  display: none;
  @include respond-to(mobile) {
    @include flex-box(column, space-around, center);
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    &:focus {
      outline: none;
    }
  }
}

.menu-burger-line {
  width: 45px;
  height: 5px;
  background-color: $color-tertiary;
  transition: all 0.2s;
}

.menu-burger-line-wrapper {
  @include flex-box(row, center, center);
}

.menu-burger-small-line {
  width: 22.5px;
  height: 5px;
  background-color: $color-tertiary;
  transition: all 0.2s;
  z-index: 1;
}

