/*stylelint-disable*/

.main-about {
  @include component-container($color-component-background);
  @include flex-box(row, space-around, center);
  @include bottom-arrow(after, 101%, 46%, 40px, 1, $color-primary);
  @include bottom-arrow(before, 98.5%, 46%, 40px, 2, $color-component-background);
  border-bottom: 10px solid $color-primary;
}

.short-description {
  width: 40%;
  margin-bottom: 30px;
  @include flex-box(column, center, center);
}

.article-title {
  font-weight: 800;
  @include section-title($font-size-section-title, $color-font-text-links, none, $border-subtitles)
}

.description {
  text-align: center;
  margin-top: 10px;
  color: $color-font-text;
  font-size: $font-size-base-text;
}

.main-traits {
  width: 37%;
  margin-top: 60px;
  margin-bottom: 40px;
  @include flex-box(column, space-around, center);
}

.trait {
  width: 85%;
  margin-bottom: 30px;
  @include flex-box(column, flex-start, center);
}

.trait-title {
  width: 260px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 3.5px solid $color-primary;
  @include header-titles($font-size-sub-text, 800, $spacing-secondary-title, $color-font-text-links);
}

.trait-description {
  min-height: 115px;
  color: $color-font-text;
  text-align: center;
}

