/*stylelint-disable*/

.main-form {
  @include component-container($color-primary);
  @include flex-box(column, center, center);
  @include bottom-arrow(after, 100%, 46%, 40px, 1, $color-primary);
}

.contact-form-wrapper {
  background-color: white;
  width: 50%;
  margin-top: 55px;
  margin-bottom: 45px;
  border-radius: 5px;
  @include flex-box(column, center, center);
  box-shadow: $box-shadow-resting;
  transition: all 0.4s;
  &:hover {
    box-shadow: $box-shadow-hover;
  }
}

.contact-form {
  width: 100%;
  @include flex-box(column, center, center);
}

.contact-form-title {
  text-transform: uppercase;
  color: $color-font-title;
  font-weight: 600;
  font-size: $font-size-section-title;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact-form-field {
  width: 80%;
  margin-bottom: 40px;
  input {
    color: $color-font-text-links;
    height: 30px;
    width: 100%;
    border: none;
    border-bottom: 4px solid $color-secondary;
    &:focus {
      outline: none;
    }
  }
  textarea {
    height: 100px;
    width: 100%;
    border: none;
    -webkit-appearance: none;
    border-bottom: 4px solid $color-secondary;
    resize: none;
    color: $color-font-text-links;
    &:focus {
      outline: none;
    }
  }
}

.field-label {
  color: $color-font-title;
}

.contact-form-button {
  transition: all 0.4s;
  border-radius: 5px;
  height: 40px;
  width: 100px;
  font-size: 15px;
  font-weight: 500;
  color: #737373;
  margin-bottom: 40px;
  border: 2px solid #737373;
  &:focus {
    outline: none;
  }
  &:hover {
    color: white;
    background-color: #737373;
  }
}

.button-hover-disabled {
  color: #ff4d4d;
  background-color: white;
  border: 2px solid #ff4d4d;
  &:hover {
    color: white;
    background-color: #ff4d4d;
  }
}

.button-hover-enabled {
  color: #00cc66;
  background-color: white;
  border: 2px solid #00cc66;
  &:hover {
    color: white;
    background-color: #00cc66;
  }
}
