/*stylelint-disable*/

.main-footer {
  @include component-container($color-tertiary);
  @include flex-box(column, center, center);
}

.footer-title {
  margin-top: 40px;
  text-align: center;
  @include header-titles($font-size-footer-text, 500, $spacing-subtitle, #bababa);
}

.contact-list {
  width: 35%;
  margin-top: 10px;
  margin-bottom: 15px;
  @include flex-box(row, space-between, center);
}

.contact-logo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.media-link {
  @include respond-to(desktop) {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: -18px;
      left: 0;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: $color-tertiary;
      opacity: 0.7;
      transition: all 0.3s;
    }
    &:hover {
      &:after {
        opacity: 0;
      }
    }
  }
}
