/*stylelint-disable*/

.main-footer {
  @include component-container($color-tertiary);
  @include flex-box(column, center, center);
}

.footer-title {
  margin-top: 40px;
  @include header-titles($font-size-footer-text, 500, $spacing-subtitle, #bababa);
}

.contact-list {
  width: 35%;
  margin-top: 10px;
  margin-bottom: 15px;
  @include flex-box(row, space-between, center);
}

.contact-logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: white;
}

.mail-expander {
  display: none;
  border-radius: 25px;
  background-color: white;
}

.mail-logo-doubler {
  position: relative;
  width: 45px;
  height: 45px;
}

.mail {
  position: absolute;
  top: 8.5px;
  left: 47px;
  display: none;
  font-size: 18px;
  font-weight: 500;
  color: $color-font-text-links;
}
