/*stylelint-disable*/


.menu-burger {
  display: none;
}

.main-header {
  height: 640px;
  @include component-container($color-secondary);
  @include flex-box(column, center, center);
  @include bottom-arrow(after, 100%, 46%, 40px, 1, $color-secondary);
}

.title-and-contact {
  width: 100%;
  height: 90%;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  @include flex-box(column, center, center);
}

.header-contact-list {
  width: 30%;
  margin-top: 25px;
  @include flex-box(row, space-between, center);
  li {
    width: 50px;
    height: 50px;
    object-fit: cover;
    background-color: white;
    border-radius: 50%;
    transition: all 0.3s;
    &:hover {
      box-shadow: $box-shadow-resting;
    }
  }
}

.name-and-surname {
  @include header-titles($font-size-title, 900, $spacing-title, $color-font-title);
  //text-shadow: $text-shadow-main-title;
}

.position {
  @include header-titles($font-size-secondary-title, 600, $spacing-secondary-title, $color-font-subtitle);
  //text-shadow: $text-shadow;
}

.main-nav {
  width: 100%;
  height: 10%;
  margin-top: 5px;
  @include flex-box(row, flex-end, center);
}

.menu-list {
  width: 50%;
  @include flex-box(row, space-around, center);
}

.nav-title {
    margin-right: 5px;
  &:last-child {
    margin-right: 0;
    border-right: none;
  }
}

.nav-title a {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  @include header-titles(1.3rem, 500, $spacing-nav-elements, $color-font-subtitle);
  //text-shadow: $text-shadow;
  transition: all 0.3s;
  &:hover {
    color: $color-tertiary;
  }
}

.header-gmail-logo {
  border-radius: 50%;
  position: relative;
  img {
    position: relative;
    z-index: 3;
  }
}

.mail-expand {
  height: 50px;
  position: absolute;
  background-color: white;
  top:0;
  z-index: 1;
  border-radius: 60px 60px 60px 60px;
  text-transform: lowercase;
  line-height: 46px;
  vertical-align: middle;
  font-size: 19px;
  font-weight: 500;
  color: $color-font-title;
  text-align: end;
}

