/*stylelint-disable*/

.menu-burger {
  display: none;
}

.main-header {
  @include component-container($color-primary);
  @include flex-box(row, space-between, center);
  @include bottom-arrow(after, 100%, 47.2%, 30px, 1, $color-primary);
}

.title {
  margin: 25px 0 25px 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.name-and-surname {
  @include header-titles($font-size-title, 900, $spacing-title, $color-font-title, $text-shadow-main-title);
}

.position {
  @include header-titles($font-size-secondary-title, 600, $spacing-secondary-title, $color-font-subtitle, $text-shadow);
}

.main-nav {
  width: 47%;
}

.menu-list {
  @include flex-box(row, space-around, center);
}

.nav-title {
  margin-right: 10px;
}

.nav-title a {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  @include header-titles(1.2rem, 600, $spacing-nav-elements, $color-font-subtitle, $text-shadow);
  transition: all 0.6s;
  &:hover {
    color: $color-tertiary;
  }
}

