/*stylelint-disable*/


// styling burger menu

.menu-burger {
  margin-right: 10px;
  width: 54px;
  height: 51px;
  display: none;
}

.menu-burger-line {
  width: 45px;
  height: 5px;
  background-color: $color-tertiary;
  transition: all 0.2s;
}

.menu-burger-line-wrapper {
  @include flex-box(row, center, center);
}

.menu-burger-small-line {
  width: 22.5px;
  height: 5px;
  background-color: $color-tertiary;
  transition: all 0.2s;
  z-index: 1;
}

// styling mobile-nav

.main-nav-mobile {
  display: none;
  @include component-container(transparent);
  @include bottom-arrow(after, 100%, 42.5%, 30px, 1, $color-container-background);
  z-index: 2;
}

.menu-list-mobile {
  width: 100%;
  height: 120px;
  margin: 30px 0 5px 0;
  position: relative;
  transition: all 0.2s;
  @include flex-box(column, space-around, center);
  z-index: 1;
}

#display-block {
  display: block;
}

#display-none {
  display: none;
}


