/*stylelint-disable*/

.main-skills {
  @include component-container($color-component-background);
  @include flex-box(column, center, center);
  @include bottom-arrow(after, 100%, 47.2%, 40px, 1, $color-component-background);
  //@include bottom-arrow(before, 0%, 45.5%, 40px, 0, $color-secondary);
  //border-top: 5px solid $color-secondary;
}

.section-title {
  margin-top: 50px;
  @include section-title($font-size-section-title + 0.2rem, $color-font-text-links, $text-shadow, $border-subtitles);
}

.skill-list {
  width: 54%;
  margin-top: 20px;
  @include flex-box(row, space-between, center);
  li {
    width: 55px;
    height: 55px;
    object-fit: cover;
  }
}

.main-skill-text {
  text-align: center;
  width: 55%;
  margin-top: 30px;
  margin-bottom: 40px;
}

.main-skill-text-paragraph {
  font-size: $font-size-base-text;
  color: $color-font-text;
  margin-bottom: 25px;
}

.skill-github-link {
  color: $color-font-text-links;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.2s;
}

.skill-github-link:hover {
  color: $color-primary;
}




